﻿@model IEnumerable<RestaurantManagementSystem.Models.StaffModel>

@{
    ViewBag.Title = "GetStaffDetails";
}

<h2>Staff Details</h2>

<p>
    @Html.ActionLink("Create New Staff", "AddStaff")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.StaffId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StaffName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Shift)
    </td>
</tr>
}

</table>
