﻿@model RestaurantManagementSystem.Models.BillModel

@{
    ViewBag.Title = "GetBillsByDate";
}

<h2>List of bills on this particular date</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Select Date</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.BillDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "form-control",@type="date" } })
                @Html.ValidationMessageFor(model => model.BillDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (ViewBag.Bills != null)
{
    if (ViewBag.Bills.Count == 0)
    {
        <h3>No bills found!</h3>
    }
    else
    {
<table class="table" border="1" width="400">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>
    @foreach (var item in ViewBag.Bills)
    {
        <tr>
            <td>
               @item.BillNumber
            </td>
            <td>
                @item.BillDate
            </td>
            <td>
                @item.StaffId
            </td>
            <td>
                @item.DeliveryMode
            </td>
            <td>
                @item.Amount
            </td>
        </tr>
    }
</table>
    }
}
<div class="form-group">
    <h4 style="color:darkgreen">@ViewBag.Total</h4>
</div>
<div>
    @Html.ActionLink("Back to home", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
