﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Restaurant</h1>
    <p><a href="https://traveltriangle.com/blog/best-restaurants-in-bangalore/" class="btn btn-primary btn-lg">Know more &raquo;</a></p>
    
</div>
